# Server Configuration
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL='postgresql://neondb_owner:npg_yTfG3YRjb9UK@ep-small-mountain-a4ivb2uc-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Clerk Authentication
CLERK_SECRET_KEY=sk_test_erVYdlKOVdDg0lGcQUDSHpGPwqEblfijViQRmRvCQa
VITE_CLERK_PUBLISHABLE_KEY=pk_test_c29saWQtbGxhbWEtNTIuY2xlcmsuYWNjb3VudHMuZGV2JA

# Gemini AI
GEMINI_API_KEY=AIzaSyD9xrh4x63DEca9FRRSpDp0d_IS9QHrfRI

# CORS
FRONTEND_URL=http://localhost:8080

# File Upload
MAX_FILE_SIZE=10485760
UPLOAD_DIR=./uploads
